<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.nikonorov.lazerninja">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lightsaber"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.ActivitySplash" android:theme="@style/ActivitySplash"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".ui.ActivityMain"
            android:configChanges="orientation|screenSize"/>

        <activity android:name=".ui.ActivitySign" android:theme="@style/Sign"
            android:configChanges="orientation|screenSize"/>

        <activity android:name=".ui.ActivityUserProfile"
            android:configChanges="orientation|screenSize"/>

    </application>

</manifest>
